<html>
<head>
    <title>FreeMarker: String literal test</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>

<p>A simple test follows:</p>

<#--
<#assign x = "Hello", y = "World">
<#assign message = "${x}, ${y}!">

${message}
-->

<p>
    [${""}] = []<br>
    [${"a"}] = [a]<br>
    [${"abcdef"}] = [abcdef]<br>
    [${"\""}] = ["]<br>
    [${"\"\"\""}] = ["""]<br>
    [${"a\""}] = [a"]<br>
    [${"\"a"}] = ["a]<br>
    [${"a\"b"}] = [a"b]<br>
    [${"a\nb"}] = [a
    b]<br>
    [${"'"}] = [']<br>
    [${"a'a"}] = [a'a]<br>
    [${"\"\'\n\r\f\b\t\l\a\g"}]<br>
    [${"\xA\x0A\x00A\x000A\x0000A"}]<br>
    [${"\x15Bz\x15b"}]<br>
    [${"\x010Cz\x010c"}]<br>

<p>
    [${''}] = []<br>
    [${'a'}] = [a]<br>
    [${'abcdef'}] = [abcdef]<br>
    [${'"'}] = ["]<br>
    [${'"""'}] = ["""]<br>
    [${'a"'}] = [a"]<br>
    [${'"a'}] = ["a]<br>
    [${'a"b'}] = [a"b]<br>
    [${'a\nb'}] = [a
    b]<br>
    [${'\''}] = [']<br>
    [${'a\'a'}] = [a'a]<br>
    [${'\"\'\n\r\f\b\t\l\a\g'}]<br>
    [${'\xA\x0A\x00A\x000A\x0000A'}]<br>
    [${'\x15Bz\x15b'}]<br>
    [${'\x010Cz\x010c'}]<br>
</body>
</html>